body, p, div, h1, h2, h3, h4, h5, h6, li, ol, ul, td, th, dd, dt {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #000000;
}

table.tablebox {
	width: 100%;
	background-color: #AFB5CF;
	font-size: 12px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-left: 1px solid #AFB5CF;
	border-right: 0px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-collapse: collapse;
}

td.boxcontent {
	background-color: #F0F0F0;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	color: #000000;
	font-weight: normal;
	font-size: 12px;
	border-bottom: 1px solid #AFB5CF;
	border-left: 0px;
	border-right: 1px solid #AFB5CF;
	border-top: 0px;
	padding: 5px 5px 5px 5px;
	empty-cells: show;
}

td.smallboxtitle {
	background-color: #EEEEEE;
	font-weight: bold;
	color: #000000;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	background: url(TableHeader.gif) repeat-x top;
	border-bottom: 1px solid #AFB5CF;
	border-left: 0px;
	border-right: 1px solid #AFB5CF;
	border-top: 1px solid #AFB5CF;
	empty-cells: show;
	padding: 2px 2px 2px 5px;
}

a:visited {
	text-decoration: none;
	color: #0000DD;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
}

a:active {
	text-decoration: none;
	color: #6699FF;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
}

a:link {
	text-decoration: none;
	color: #0000DD;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
}

a:hover {
	text-decoration: underline;
	color: #6699FF;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
}

body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	background-color: #FFFFFF;
	color: #000000;
	font-size: 12px;
	background-repeat: repeat;
	background-attachment: fixed;
}
